{% extends 'base.html.twig' %}

{% block title %}Comedien{% endblock %}

{% block body %}

    <div class=" showContainer mt-5 d-flex align-items-center justify-content-center pt-5" >

        <div class="col text-center">
            <img class="col" src="{{ asset('images/avatar/' ~ comedien.imageName) }}"  style= "height:20%" alt="">
        </div>

        <div class="col showContainerText ">
            <h1>{{ comedien.nom }} {{ comedien.prenom }}</h1>
            <h3>{{ comedien.telephone }}</h3>
            <h3>{{ comedien.age }} ans</h3>
            <h3>{{ comedien.sexe }}</h3>
            <h3>{{ comedien.type }}</h3>
            <h3>{{ comedien.tauxjournalier }} € / Jour</h3>
            <div class="d-flex ">
                <a class=" col-4  btn btn-primary " href="{{ path('app_comedien_index') }}">Retour à la liste</a>
                <a class=" col-4  btn btn-primary mx-5" href="{{ path('app_comedien_edit', {'id_comedien': comedien.idComedien}) }}">Modifier</a>

            </div>
             </div>
    </div>



{#    {{ include('comedien/_delete_form.html.twig') }}#}
{% endblock %}
