{% extends 'base.html.twig' %}

{% block title %}Comedien{% endblock %}

{% block body %}
    <h1>Comedien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_comedien</th>
                <td>{{ comedien.idComedien }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ comedien.imageName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ comedien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ comedien.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ comedien.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comedien.email }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ comedien.age }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ comedien.sexe }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ comedien.type }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ comedien.updatedAt ? comedien.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comedien_index') }}">back to list</a>

    <a href="{{ path('app_comedien_edit', {'id_comedien': comedien.idComedien}) }}">edit</a>

{#    {{ include('comedien/_delete_form.html.twig') }}#}
{% endblock %}
